.subscribe_button{
    background-color: #cc0000;
    border: none;
    color: white;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
}
.subscribe_button:hover {
    opacity: 0.7;
}
.subscribe_button:active {
    opacity: 0.5;
}
.join_button{
    background-color: hwb(0 100% 0%);
    border-color: rgb(6, 95, 212);
    border-style:solid;
    border-width: 1px;
    border-radius: 2px;
    color: rgb(6, 95, 212);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: background-color 0.15s, 
    color 0.15s;
    vertical-align: top;

}
.join_button:hover {
    background-color: rgb(41, 118, 211);
    color:  hwb(0 100% 0%);
    
}
.join_button:active {
    opacity: 0.7;
}

.tweet_button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-left: 20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
}
.tweet_button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}